[submodule "Code/inSALMO"]
	path = Code/inSALMO
	url = git@github.com:colinsheppard/insalmo.git
[submodule "Code/inSTREAM"]
	path = Code/inSTREAM
	url = git@github.com:colinsheppard/instream.git
[submodule "Code/inSTREAM-SD"]
	path = Code/inSTREAM-SD
	url = git@github.com:colinsheppard/instream-sd.git
[submodule "Code/inSALMO-FA"]
	path = Code/inSALMO-FA
	url = git@github.com:colinsheppard/insalmo-fa.git
